<% provide(:provide, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> 
        <%= @user.email %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside> 
    <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <div class="span8">
      <h3>Micropost Feed (<%= @user.microposts.count %>)</h3>
      <%= render 'shared/feed' %>
    </div>
    <% end %>
  </div>
</div>
